.header{
    width:400px;
    height:100px;
    background-color: #141f40;
}

/*.main{
    display: flex;
    これ一つで要素を横並びに出来る
}*/

.left{
    width:150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right{
    width:250px;
    height:250px;
    background-color: #8c2727;
    float: left;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.footer{
    width:400px;
    height:100px;
    background-color: #d98d30;
}