@media screen and (max-width:479px){
    .header{
        width:200px;
    }
    .Hsub{
        width:60px;
        height:160px;
        margin:10px 70px;
    }
    .HSleft{
        margin:10px 10px 5px 10px;
    }
    .HScenter{
        margin:5px 10px;
    }
    .HSright{
        margin:5px 10px 10px 10px;
    }

    .Mleft{
        width:200px;
        height:150px;
        float: none;
    }

    .Mright{
        width:200px;
        float: none;
    }
    .MRup{
        margin:20px 30px 5px 30px;
    }
    .MRcenter{
        margin:5px 30px 5px 30px;
    }
    .MRdown{
        margin:5px 30px 20px 30px;
    }

    .footer{
        width:200px;
        height:100px;
    }
}