@media screen and (max-width:767px){
    .header{
        width:300px;
    }

    .left{
        width:100px;
    }

    .RUleft{
        width:125px;
    }
    .RUright{
        width:75px;
    }

    .Rdown{
        width:200px;
    }

    .fotter{
        width:300px;
    }
}


@media screen and (max-width:479px){
    .header{
        width:150px;
    }

    .left{
        width:150px;
        float: none;
    }
    .right{
        float: none;
    }


    .Rupper{
        display: flex;
        flex-direction: column;
    }

    .RUright{
        width:150px;
        float: none;
        order: 1;
    }

    .RUleft{
        width:150px;
        float: none;
        order: 2;
    }

    .Rdown{
        width:150px;
    }

    .fotter{
        width:150px;
    }
}