.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    width:400px;
    height:100px;
    background-color: #141f40;
}

.left{
    width:150px;
    height:250px;
    background-color: #80bfa8;
    float: left;
}
.right{
    float: left;
}

.RULup{
    width:150px;
    height:50px;
    background-color: #dbd400;
}

.RULdown{
    width:150px;
    height:100px;
    background-color: #0093b7;
}


.RUleft{
    float: left;
}

.RUright{
    width:100px;
    height:150px;
    background-color: #ff9a6b;
    float: left;
}

.Rdown{
    width:250px;
    height:100px;
    background-color: #8c2727;
}

.fotter{
    width:400px;
    height:100px;
    background-color: #d98b30;
}